@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;   /*para preencher todo o container   */
    position: relative;
    height: 100%;

    .container {
        position: relative;   /* para que o conteúdo do container fique a frente da tela escura   */
    }

    &::before {          /*para escurecer o conteiner ocupado pelo back-ground-image */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryTextColor;
        content: "";     /* necessário que o processo de preenchimento da tela funcione  */
        opacity: .7;
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        height: 200px;
        display: block;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 90px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}
