@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 30px;
    background-color: rgb(92, 4, 4);
    background-repeat: no-repeat;
    background-size: cover;   /*para preencher todo o container   */
    position: relative;
    height: 100%;

    .container {
        position: relative;   /* para que o conteúdo do container fique a frente da tela escura   */
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        height: 220px;
        display: block;
    }

    @media (max-width: 640px) {
        padding: 40px 0px;
        

        &__logo {
            height: 170px;
            margin-bottom: 45px;
            margin-top: 5px;
           
        }

        &__text {
            font-size: 24px;
            line-height: 24px;
            margin: 16px 0;
        }
    }
}
